# Сборочные директории и кэш
build/
zmk-dongle-display/
zmk-pmw3610-driver/

# Скачанные зависимости ZMK и Zephyr (West Workspace)
.west/
bootloader/
modules/
tools/
zephyr/
zmk/

# Локальные настройки Dev Container (опционально)
.devcontainer/